/*#########################*/
/*#######  Global   #######*/
/*#########################*/

body{
    font-family:'Open Sans',sans-serif;
    margin:0;
}


/*#########################*/
/*#######  Nav bar  #######*/
/*#########################*/

h1{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
	display: inline-block;
}
li a {
	display: inline-block;
    color: white;
    text-align: center;
    padding: .9em 1em;
    text-decoration: none;
}
li a:hover{
	background-color: #444;
}


.NavBar{
	display: block;
	text-align: center;
    overflow: hidden;
    background-color: #1D63AF;
    width: auto;
}

.buttonLink {
    color:black;
    display:inline-block;
    align-items: flex-start;
    font:inherit;
    text-align: center;
    cursor: default;
    background-color: #EEE;
    border-width: 0 2px 2px 0;
    border-color: buttonface;
    border-style:outset;
    box-sizing: border-box;
    border-image: none;
    padding: .5em 1em;
    text-decoration: none;
    width:13em;
    margin: 1em .25em;

}

.buttonLink:active {
    background-color: grey;
}

/*#########################*/
/*#######   Boxes   #######*/
/*#########################*/

.preview {
    max-width: 40em;
    min-width: 20em;
    margin: 1em auto;
    background-color: #fafafa;
    text-align: center;
    box-sizing: border-box;
    padding: 1em 1em;
    border-radius: .5em;
    box-shadow: 0 0 .5em #888;
}

.container{
    -webkit-margin-before:1em;
    -webkit-margin-after:1em;
    display: inline-block;
}
.listContainer{
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
    width: 19em;
    position:static;
    display: inline-block;
}

/* FrontPage Item Blocks */

.itemBox {
    transition:background .2s;
    border-radius: .5em;
    background: #ACC8E7;
    padding: .5em; 
    width: 15em;
    margin: .25em .25em;
    display:inline-block;
}
.itemBox:hover{
    background: #648DBB;
}
/* List item blocks */
.columns {
    position:relative;
    margin:0em auto;
}
.voteBox {
    transition:background .2s;
    border-radius: .5em;
    background: #ACC8E7;
    padding: .5em 1em; 
    width: 15em;
    margin: .25em 0;
    display:inline-block;
    color:black;
}
.voteBox:hover{
    background: #3D71AA;
}
.columns input[type=checkbox]{
    display: none;
}

/*Generic priority styling*/

.midPrio {
    background: #8AAFD9;
}
.midPrio:hover {
    background: #3D71AA;
}
.highPrio{
    background: #6C98CA;
}
.highPrio:hover {
    background: #3D71AA;
}

.leftSpan{
    float:left;
    max-width: 90%;
    text-align: left;
}
.rightSpan{
    float:right;
}
input[type=checkbox]:checked + label{
    background-color: #3D71AA;
}


/*#########################*/
/*#######  Errors   #######*/
/*#########################*/

.error {
    max-width: 30em;
    margin: auto;
    background-color: #ffe0e0;
    box-sizing: border-box;
    padding:1em;
}

.error p {
    text-align: center;
    color: #400;
    font-size: 10pt;
    padding: 0em 0em;
}

.disabled {
    cursor: not-allowed;
}

/*#########################*/
/*####### PartyHats #######*/
/*#########################*/

.xmashatleft {
    position:absolute;
    margin: -25px 0 0 -35px;
    z-index:9999;
 }

.xmashatright {
    position:absolute;
    margin: -5px 0 0 -240px;
    z-index:9999;
 }